.app {
    margin: 50px;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.app__title {
    margin: 0;
}

.app__content {
    width: 100%;
    display: flex;
}

.app__graphics {
    width: 90%;
}